<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyCarrierContext" value="data source=10.10.200.62;initial catalog=MyCarrier;user id=sa;password=Qwerty1!;multipleactiveresultsets=True" />
    <add key="ResourcePath" value="D:\\MinC\\resources" />
  </appSettings>
</configuration>