<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MyCarrierContext" value="data source=10.10.200.62;initial catalog=MyCarrier;user id=sa;password=Qwerty1!;multipleactiveresultsets=True" />
    <add key="ApiBaseUrl" value="http://mycarriertms.dotnet.itechcraft.com/MyCarrierAPI/api" />
    <add key="BaseUrl" value="http://mycarriertms.dotnet.itechcraft.com" />
    <add key="ResourcePath" value="D:\\smart_csharp_mini\\resourcess" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>